<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlin_study">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlin_Study"
        android:usesCleartextTraffic="true">
        <activity
            android:name="Coroutine.CoroutineTimerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Coroutine.CoroutineActivity"
            android:exported="true"></activity>
        <activity
            android:name="Thread.TimerActivity"
            android:exported="true" />
        <activity
            android:name="Thread.MainThread"
            android:exported="true" />
        <activity
            android:name="Room.practice.RoomPersonActivity"
            android:exported="true" />
        <activity
            android:name="Room.RoomActivity"
            android:exported="true" />
        <activity
            android:name="SQLite.DB.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Server.ServerActivity"
            android:exported="true" />
        <activity android:name="Splash.PumkinSplash" />
        <activity android:name="My_Library.SOPT_Fragment_Activity" />
        <activity android:name="My_Library.SampleFragment_Activity" />
        <activity android:name="My_Library.Switch_Button" />
        <activity android:name="My_Library.addTextChangedListener" />
        <activity
            android:name="My_Library.Dialog_Doll"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="My_Library.Dialog_Custom" />
        <activity android:name="My_Library.EditText_Activity" />
        <activity android:name="My_Library.Dialog_Activity" />
        <activity android:name="My_Library.CollapsingToolbarLayout_Activity" />
        <activity android:name="My_Library.AppBar_Activiry" />
        <activity android:name="My_Library.Selector" />
        <activity android:name="My_Library.CheckBox" />
        <activity
            android:name="My_Library.Spinner_RadioButton"
            android:theme="@style/Theme.Kotlin_Study" />
        <activity android:name="My_Library.ButtonNavigationView" />
        <activity
            android:name="My_Library.ViewPager2"
            android:exported="true" />
        <activity
            android:name="My_Library.Fragment_Activity"
            android:exported="true" />
        <activity
            android:name="My_Library.Activity_two"
            android:exported="true" />
        <activity
            android:name="My_Library.Activity_one"
            android:exported="true" />
        <activity
            android:name="My_Library.RecyclerView_Activity"
            android:exported="true" />
        <activity
            android:name=".RecyclerView_Activity"
            android:exported="true" />
        <activity
            android:name=".Android.GithubService_Activity"
            android:exported="true" />
        <activity
            android:name=".Android.SharedPreference"
            android:exported="true" />
        <activity
            android:name=".Android.TabPager_Activity"
            android:exported="true" />
        <activity
            android:name=".CallingList2_list_page"
            android:exported="true" />
        <activity
            android:name=".Android.CallingList2"
            android:exported="true" />
        <activity
            android:name=".Android.BingActivity"
            android:exported="true" />
        <activity
            android:name=".Android.RecycleViewActivity"
            android:exported="true" />
        <activity
            android:name=".Android.ListViewActivity"
            android:exported="true" />
        <activity
            android:name=".Android.PhoneBook_detail_Activity"
            android:exported="true" />
        <activity
            android:name=".Android.PhoneBookActivity"
            android:exported="true" />
        <activity
            android:name=".Android.Calling_list_page2"
            android:exported="true" />
        <activity
            android:name=".Android.CallingList"
            android:exported="true" />
        <activity
            android:name=".Android.DabinAdd"
            android:exported="true" />
        <activity
            android:name=".Android.RatingBar"
            android:exported="true" />
        <activity
            android:name=".Android.SeekBar"
            android:exported="true" />
        <activity
            android:name=".Android.MyActivity"
            android:exported="true" />
        <activity
            android:name=".Android.activity_add"
            android:exported="true" />
        <activity
            android:name=".Android.AddViewActivity"
            android:exported="true" />
        <activity
            android:name=".Android.Library_Activity"
            android:exported="true" />
        <activity
            android:name=".Android.res"
            android:exported="true" />
        <activity
            android:name=".Android.FragmentActivity"
            android:exported="true" />
        <activity
            android:name=".Android.Open_InternetPage1"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Android.Activity_2"
            android:exported="true" />
        <activity
            android:name=".Android.Activity_1"
            android:exported="true" />
        <activity
            android:name=".Android.Carculator"
            android:exported="true" />
        <activity
            android:name=".Android.Mylistener"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>